body{
    background: linear-gradient(to right, #071724, #00314f) ;
    overflow-x: hidden;


}
.p_n{
    position: absolute;
    left: 230px;
    top: 200px;
    color: #d6dae6;
    font-family: 'Arial Black', Gadget, sans-serif;
    scale: 2;

}
h1:not(.H1_P, .H2_P){
    position: absolute;
    top: -20px;
    left: 700px;
    color: #d6dae6;
    font-family: 'Arial Black', Gadget, sans-serif;
    animation: moveDownWithBlur 1s forwards;
}
h2:not(.H1_P, .H2_P){
    position: absolute;
    top: -0px;
    left: 700px;
    scale: 1.3;
    color: #d6dae6;
    font-family:'Arial Black', Gadget, sans-serif;
    animation: moveDownWithBlur 1s forwards;
}
.h2_R{
    position: absolute;
    top: 220px;
    left: 1560px;
    color: #d6dae6;
    scale: 5;
}

.H1_P{
    position: absolute;
    left: -150px; 
    top: -30px;
    scale: 0.4;
    width: 600px;
    color: #d6dae6;
    font-family:'Arial Black', Gadget, sans-serif;
}


.H2_P{
    position: absolute;
    left: -150px; 
    top: 10px;
    scale: 0.4;
    width: 600px;
    color: #d6dae6;
    font-family:'Arial Black', Gadget, sans-serif;
}

.p_1{
    position: absolute;
    left: -150px; 
    top: 80px;
    scale: 0.4;
    width: 600px;
    color: #d6dae6;
    font-family:'Arial Black', Gadget, sans-serif;
    scale: 0.45;
}

.p_2{
    position: absolute;
    left: -170px; 
    top: 190px;
    scale: 0.4;
    width: 650px;
    color: #d6dae6;
    font-family:'Arial Black', Gadget, sans-serif;
    scale: 0.45;
}

.p_3{
    position: absolute;
    left: -170px; 
    top: 280px;
    scale: 0.4;
    width: 650px;
    color: #d6dae6;
    font-family:'Arial Black', Gadget, sans-serif;
    scale: 0.45;
}


.square_P{
    width: 300px;
    height: 500px;
    position: absolute;
    left: 140px;
    top: 280px;
    background-color: #075d6f;
    border-radius: 35px;
    box-shadow: 0px 0px 20px #87a5c1; 
    transition: transform 0.3s ease; 
    transform-style: preserve-3d; 
    
}

.square_b_ul{
    width: 1300px;
    height: 660px;
    box-shadow: 0px 0px 20px #87a5c1; 
    background-color: #17709c;
    position: absolute;
    left: 570px;
    top: 220px;
    border-radius: 70px;
    opacity: 0.2;
}

.square3{
    width: 1870px;
    height: 920px;
    background: linear-gradient(to right , #17709c #87a5c1);
    border-radius: 40px;
    position: absolute;
    left: 25px;
    top: 40px;
    box-shadow: 0px 0px 50px #87a5c1; 
}

.Image_1{
    position: absolute;
    left: 100px;
    top: 250px;
    box-shadow: 0px 0px 25px #87a5c1; 
    border-radius: 20px;
    width: 250px;
    height: 150px;    
}

.square_rating3{
    position: absolute;
    right: 270px;
    top: 300px;
    box-shadow: 0px 0px 25px #a3c8eb; 
    border-radius: 20px;
    width: 350px;
    height: 550px;    
    background-color: #015a6c;
    
}

.square_ul_3{
    position: absolute;
    right: 300px;
    top: 530px;
    width: 290px;
    height: 300px;
    box-shadow: 0px 0px 30px #87a5c1; 
    border-radius: 20px;
}

.Ul_R3{
    position: absolute;
    right: 350px;
    top: 550px;
    scale: 1.10;
    width: 200px;
    color: #d6dae6;
    font-family: 'Arial Black', Gadget, sans-serif;
    
}




.card-shergesh {
    position: absolute;
    right: -120px;
    top: 100px; 
    transition: transform 0.3s ease; 
    scale: 0.8;
    
}

.card-RedPolyna{
    position: absolute;
    right: -440px;
    top: -50px; 
    transition: transform 0.3s ease; 
}

.card-RozaHutor{
    position: absolute;
    left: 1250px;
    top: -5px; 
    transition: transform 0.3s ease; 
    scale: 0.9;
    
}



.square_rating2{
    position: absolute;
    right: 900px;
    top: 300px;
    box-shadow: 0px 0px 20px #a3c8eb; 
    border-radius: 20px;
    width: 400px;
    height: 600px;    
    background-color: #015a6c;
    transition: transform 0.3s ease; 
    transform-style: preserve-3d; 
    
}

.square_ul_2{
    position: absolute;
    right: 935px;
    top: 580px;
    width: 330px;
    height: 300px;
    box-shadow: 0px 0px 30px #87a5c1; 
    border-radius: 20px;
    transition: transform 0.3s ease; 
}

.Ul_2{
    position: absolute;
    right: 1010px;
    top: 600px;
    transition: transform 0.3s ease;
    color: #d6dae6;
    scale: 1.25;
    width: 195px;
    font-family: 'Arial Black', Gadget, sans-serif;
}



.img_R3{
    position: absolute;
    right: 295px;
    top: 320px;
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 20px #87a5c1; 
    border-radius: 20px;
}
.Image_R2{
    width: 330px;
    height: 240px;
    box-shadow: 0px 0px 20px #87a5c1; 
    border-radius: 20px;
    position: absolute;
    top: 325px;
    right: 935px;
}

.Image_32{
    width: 330px;
    height: 240px;
    box-shadow: 0px 0px 20px #87a5c1; 
    border-radius: 20px;
    position: absolute;
    top: 325px;
    right: 335px;
}

.square_Roza{
    position: absolute;
    right: 300px;
    top: 300px;
    box-shadow: 0px 0px 20px #a3c8eb; 
    border-radius: 20px;
    width: 400px;
    height: 600px;    
    background-color: #015a6c;
    transition: transform 0.3s ease; 
    transform-style: preserve-3d; 
    
}

.Image_Roza{
    width: 330px;
    height: 240px;
    box-shadow: 0px 0px 20px #87a5c1; 
    border-radius: 20px;
    position: absolute;
    top: 325px;
    right: 335px;
}


.square_ul_roza
{
    position: absolute;
    right: 335px;
    top: 580px;
    width: 330px;
    height: 300px;
    box-shadow: 0px 0px 30px #87a5c1; 
    border-radius: 20px;
    transition: transform 0.3s ease; 
}

.Ul_Roza{
    position: absolute;
    right: 370px;
    top: 600px;
    transition: transform 0.3s ease;
    color: #d6dae6;
    scale: 1.250;
    width: 230px;
    font-family: 'Arial Black', Gadget, sans-serif;
}



.card-RedPolyna:hover{

    transform: translateY(-35px) translateX(80px) scale(1.08);
}

.card-shergesh:hover{
    transform: translateY(-35px) translateX(100px) scale(1.2);
    
}
.card-RozaHutor:hover{
    transform: translateY(-35px) translateX(65px) scale(1.15);
    
}

.square_P:hover{
    transform: scale(1.6)  ;
}



@keyframes moveDownWithBlur {
  0% {
    transform: translateY(-50px); /* Начальное положение выше */
    filter: blur(0px); /* Без размытия в начале */
  }
  50% {
    filter: blur(3px); /* Размытие в середине */
  }
  100% {
    transform: translateY(50px); /* Конечное положение ниже */
    filter: blur(0px); /* Без размытия в конце */
  }


}